<p><strong>Estadisticas:</strong></p>

<pre>
  <p>Número total de preguntas: <%= estadisticas.numPreguntasTotal %></p>
  <p>Número total de comentarios: <%= estadisticas.numComentrariosTotal %></p>
  <p>Número de comentarios por pregunta: <%= estadisticas.promedioComentarios %></p>
  <p>Número de preguntas sin comentarios: <%= estadisticas.numPreguntasSinComentario %></p>
  <p>Número de preguntas con comentarios: <%= estadisticas.numPreguntasConComentario %></p>
</pre>